@model IEnumerable<CondoHub.Models.Entities.Payment>

<table>
    <thead>
        <tr>
            <th>Mês Referência</th>
            <th>Morador</th>
            <th>Valor Total</th>
            <th>Data de Vencimento</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pagamento in Model)
        {
            <tr>
                <td>@pagamento.MesReferencia</td>
                <td>@pagamento.UserId</td>
                <td>R$ @pagamento.Total.ToString("N2")</td>
                <td>@pagamento.DataVencimento.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (pagamento.Status == CondoHub.Models.Entities.PaymentStatus.Pago)
                    {
                        <span style="color:#2E7D32; font-weight:600;">Pago</span>
                    }
                    else
                    {
                        <span style="color:#E53935; font-weight:600;">Pendente</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>